
<div>
  <app-navbar></app-navbar>
</div>
<!-- Se agrega componente de nota app.component.html -->
<div>
  <app-notas></app-notas>
</div>
<!-- Sección link de votos -->
<section class="votos">
  <div class="container p-4">
    <h2>Link</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,
    </p>
    <div class="row">
      <div class="col-md-6 offset-md-1">
        <div class="card">          <form class="card-body">
            <h3 class="card-title">Añadir Link</h3>
            <label for="title">Title</label>
            <input type="text" name="title" #newtitle class="form-control" autofocus>
  
            <label for="link">Link</label>
            <input type="text" name="link" #newlink class="form-control">
  
            <button (click)="addLink(newtitle, newlink)" class="btn btn-primary btn-block mt-4">
              Enviar Link
            </button>
          </form>
          <mat-slide-toggle>Toggle me!</mat-slide-toggle>
        </div>
      </div>
    </div>
    <!-- Links -->
    <app-link *ngFor="let link of sortedLinks()" [link]="link"></app-link>
  </div>
</section>
